@import "@/styles/Variables.module.scss";
@import "@/styles/mixins.scss";

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba($color-light, 0.95);
  color: $color-dark;
  font-family: $main-font;
  font-weight: 300;
  font-size: 1rem;


  padding: 8*$base-spacing 4*$base-spacing;
  @include lt-lg {
    padding: 4*$base-spacing $base-spacing;
  }

  &Photo {
    box-sizing: border-box;
    flex: 0 0 100%;
    padding: $base-spacing;

    @include gt-sm {
      padding-right: 10*$base-spacing;
      flex: 0 0 50%;
      max-width: $screen-sm-min;
    }

    @include md {
      padding-right: 5*$base-spacing;
    }

    @include lt-md {
      max-width: $screen-sm-min;
    }
  }

  &PhotoContainer {
    width: 100%;
    aspect-ratio: 2 / 3;
    position: relative;

    @supports not (aspect-ratio: 2 / 3) {
      &::before {
        float: left;
        padding-top: 150%;
        content: "";
      }

      &::after {
        display: block;
        content: "";
        clear: both;
      }
    }
  }

  &Text {
    flex: 0 0 100%;
    padding: $base-spacing;
    box-sizing: border-box;
    text-align: justify;
    line-height: 2rem;

    @include gt-sm {
      padding-left: 6*$base-spacing;
      flex: 0 0 50%;
      max-width: $screen-sm-min;
    }

    @include md {
      padding-left: 3*$base-spacing;
    }

    @include lt-md {
      max-width: $screen-sm-min;
    }
  }

  &Title {
    margin: 0;
    font-family: $heading-font;
    font-weight: 300;
    font-size: 2rem;
  }
}


.backgroundOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
