@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.item {
  place-self: center;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 2/3;
  @supports not (aspect-ratio: 2 / 3) {
    &::before {
      float: left;
      padding-top: 150%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

.button {
  margin-top: 2*$base-spacing;
  font-family: $main-font;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color-light;
  border: solid 1px $color-light;
  background: none;
  font-size: 0.75rem;
  min-width: 150px;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-weight: 300;

  padding: 1.5*$base-spacing;
  line-height: 1rem;
}
