.container {
  display: flex;

  &[data-format='wide'] {
    aspect-ratio: 16/9;
  }

  &[data-format='square'] {
    aspect-ratio: 1/1;
  }

  &[data-format='vertical'] {
    aspect-ratio: 2/3;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--mantine-radius-lg);
}
