@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';


.films {
  position: relative;
  color: $color-light;
  background: rgba($color-dark, 0.95);


  padding: 8*$base-spacing 4*$base-spacing;
  @include lt-lg {
    padding: 4*$base-spacing $base-spacing;
  }
}

.container {
  margin: 4* $base-spacing auto 0;
  max-width: 1200px;
  display: grid;
  gap: 4*$base-spacing;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @include sm {
    grid-template-columns: 1fr 1fr;
  }

  @include lt-sm {
    grid-template-columns: 1fr;
  }

}

.title {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
