@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';


.films {
  position: relative;
  color: $color-light;
  background: rgba($color-dark, 0.95);

  padding: 12*$base-spacing 2*$base-spacing;
  @include xs {
    padding: 6*$base-spacing 2*$base-spacing;
  }
}

.container {
  margin: 6* $base-spacing auto 0;

  display: grid;
  gap: 4*$base-spacing;
  justify-content: center;
  align-items: center;
  --films-columns: 4;
  grid-template-columns: repeat(var(--films-columns), minmax(0, $screen-sm-min / 2));

  @include sm {
    --films-columns: 2;
    max-width: $screen-sm-min;
  }

  @include xs {
    --films-columns: 1;
    margin-top: 6*$base-spacing;
  }

}

.title {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
