.listItem {
  display: inline-flex;
}

.icon {
  --ai-size: 1.5rem;

  @media (max-width: $mantine-breakpoint-xs) {
    --ai-size: 1.125rem;
  }

  @media (min-width: $mantine-breakpoint-xl) {
    --ai-size: 2rem;
  }
}
