.link {
  color: inherit;
  text-decoration: none;
  border-radius: 50%;
  display: inline-flex;
  line-height: 1;

  &:hover {
    .icon {
      transform: scale(1.2);
    }
  }
}

.icon {
  height: 1em;
  width: 1em;
  display: inline-block;
  fill: currentColor;
  transition: transform 0.5s;
}
