.container {
  position: relative;
  margin: calc(var(--app-padding-y) * 3) var(--app-padding-x) 0;
}

.videoBlock {
  margin-top: var(--app-padding-y);
}

.heading {
  text-align: center;
}

.moreVideosButton {
  position: absolute;
  right: initial;
  bottom: 0;

  &[data-position='left'] {
    left: 0;
  }

  &[data-position='right'] {
    right: 0;
  }

  @media (max-width: $mantine-breakpoint-md) {
    position: initial;
    width: 100%;
    margin-top: var(--app-padding-y);
  }
}