.container {
  position: relative;
  margin: var(--app-padding-y) var(--app-padding-x) 0;
}

.videoBlock {
  margin-top: var(--app-padding-y);
}

.videoBlock:not(:has(~ .videoBlock)) {
  position: relative;
}

.heading {
  text-align: center;
}

.moreVideosButton {
  position: absolute;
  z-index: var(--app-over-affix-index);
  right: initial;
  bottom: calc(var(--mantine-spacing-xl) * -1);

  align-self: flex-end;

  padding: var(--mantine-spacing-xl);

  background: var(--mantine-color-body);

  button {
    width: 100%;
  }

  &[data-position='left'] {
    left: calc(var(--mantine-spacing-xl) * -1);
  }

  &[data-position='right'] {
    right: calc(var(--mantine-spacing-xl) * -1);
  }

  @media (max-width: $mantine-breakpoint-md) {
    position: relative;
    top: initial !important;
    right: initial !important;
    bottom: initial !important;
    left: initial !important;

    padding: var(--mantine-spacing-xl) 0 0;
  }
}