.block {
  margin: var(--app-padding-y) 0;
  padding: 0 var(--app-padding-x);
}

.heading {
  overflow: hidden;
  margin: 0;
  text-align: center;
}

.moreVideosButton {
  position: absolute;
  right: initial;
  bottom: 0;
  align-self: flex-end;

  &[data-position='left'] {
    left: 0;
  }

  &[data-position='right'] {
    right: 0;
  }

  @media (max-width: $mantine-breakpoint-md) {
    position: initial;
    align-self: stretch;
  }
}

.weddings {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--app-padding-y);
}
