.block {
  display: grid;
}

.border {
  border: 0.125rem solid;
  border-color: var(--mantine-color-main-border-0);
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
}

.titleInnerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);

  max-width: 100%;

  text-align: center;
}

.videoContainer {
  width: 100%;
  height: min-content;
}

.block[data-variant='1'] {
  grid-template-columns: 1fr 11fr minmax(min-content, 5fr) 3fr;
  grid-template-rows: 1fr minmax(auto, 3fr) 1fr;

  .videoContainer {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .videoContainerTitle {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-items: center;
    justify-content: flex-start;
  }

  .border {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto;

    .videoContainer {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }

    .videoContainerTitle {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-content: center;
    }

    .border {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
}

.block[data-variant='2'] {
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;

  .border {
    display: none;
  }

  .videoContainer {
    &[data-index='0'] {
      grid-column: 1/2;
      grid-row: 1/3;
    }

    &[data-index='1'] {
      grid-column: 3/4;
      grid-row: 2/4;
      place-self: end;
    }
  }

  .videoContainerTitle {
    &[data-index='0'] {
      grid-column: 2/4;
      grid-row: 1/2;
    }

    &[data-index='1'] {
      grid-column: 1/3;
      grid-row: 3/4;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr var(--mantine-spacing-xl) 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .videoContainer {
      &[data-index='0'] {
        grid-column: 1/2;
        grid-row: 1/3;
      }

      &[data-index='1'] {
        grid-column: 3/4;
        grid-row: 2/4;
      }
    }

    .videoContainerTitle {
      &[data-index='0'] {
        grid-column: 2/4;
        grid-row: 1/2;
      }

      &[data-index='1'] {
        grid-column: 1/3;
        grid-row: 3/4;
      }
    }
  }
}

.block[data-variant='2t'] {
  grid-template-columns: 19fr 2fr 14fr 3fr 4fr;
  grid-template-rows: 1fr 1fr 3fr 4fr 5rem;

  .border {
    grid-column: 2/5;
    grid-row: 2/5;
  }

  .titleContainer {
    grid-column: 3/4;
    grid-row: 2/5;
  }

  .videoContainer {
    &[data-index='0'] {
      grid-column: 1/3;
      grid-row: 3/6;
    }

    &[data-index='1'] {
      grid-column: 4/6;
      grid-row: 1/4;
    }
  }

  .videoContainerTitle {
    display: none;
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1rem 6fr 4fr 1rem;
    grid-template-rows: 2fr 3fr auto 1fr 3fr;

    .border {
      grid-column: 1/5;
      grid-row: 2/5;
    }

    .titleContainer {
      grid-column: 1/5;
      grid-row: 3/4;
    }

    .videoContainer {
      &[data-index='0'] {
        grid-column: 2/4;
        grid-row: 1/3;
      }

      &[data-index='1'] {
        grid-column: 3/4;
        grid-row: 4/6;
      }
    }
  }
}

.block[data-variant='3'] {
  grid-template-columns: 3fr calc(3 * var(--mantine-spacing-xl)) 3fr 2fr 5fr;
  grid-template-rows: auto auto auto auto;

  .border {
    display: none;
  }

  .videoContainer {
    &[data-index='0'] {
      grid-column: 1/2;
      grid-row: 1/3;
    }

    &[data-index='1'] {
      grid-column: 3/4;
      grid-row: 2/4;
      place-self: end;
    }

    &[data-index='2'] {
      grid-column: 5/6;
      grid-row: 1/5;
    }
  }

  .videoContainerTitle {
    &[data-index='0'] {
      grid-column: 2/5;
      grid-row: 1/2;
    }

    &[data-index='1'] {
      grid-column: 1/3;
      grid-row: 3/4;
      align-items: flex-end;
      justify-content: flex-end;
    }

    &[data-index='2'] {
      grid-column: 1/5;
      grid-row: 4/5;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr var(--mantine-spacing-xl) auto auto;

    .videoContainer {
      &[data-index='0'] {
        grid-column: 1/3;
        grid-row: 1/3;
      }

      &[data-index='1'] {
        grid-column: 4/6;
        grid-row: 2/4;
      }

      &[data-index='2'] {
        grid-column: 2/5;
        grid-row: 5/6;
      }
    }

    .videoContainerTitle {
      &[data-index='0'] {
        grid-column: 3/6;
        grid-row: 1/2;
      }

      &[data-index='1'] {
        grid-column: 1/4;
        grid-row: 3/4;
      }

      &[data-index='2'] {
        grid-column: 2/6;
        grid-row: 6/7;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }
}

.block[data-variant='3t'] {
  grid-template-columns: 3fr 3fr 4fr 2fr 3fr 10fr 3fr;
  grid-template-rows: 3rem auto 3rem 9fr 10fr 9fr 3fr auto;

  .border {
    grid-column: 3/8;
    grid-row: 1/6;
  }

  .titleContainer {
    grid-column: 6/8;
    grid-row: 2/3;
  }

  .videoContainer {
    &[data-index='0'] {
      grid-column: 1/6;
      grid-row: 2/3;
    }

    &[data-index='1'] {
      grid-column: 2/4;
      grid-row: 4/7;
    }

    &[data-index='2'] {
      grid-column: 5/7;
      grid-row: 5/8;
      place-self: end;
    }
  }

  .videoContainerTitle {
    &[data-index='0'] {
      display: none;
    }

    &[data-index='1'] {
      grid-column: 4/8;
      grid-row: 4/5;
    }

    &[data-index='2'] {
      grid-column: 5/7;
      grid-row: 8/9;
    }
  }

  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 3rem 2fr 3fr 1fr 1rem 2rem;
    grid-template-rows: 2rem auto auto auto auto 2rem auto auto;

    .border {
      grid-column: 2/5;
      grid-row: 1/5;
    }

    .titleContainer {
      grid-column: 2/5;
      grid-row: 3/4;
    }

    .videoContainer {
      &[data-index='0'] {
        grid-column: 1/7;
        grid-row: 2/3;
      }

      &[data-index='1'] {
        grid-column: 3/6;
        grid-row: 4/6;
      }

      &[data-index='2'] {
        grid-column: 1/7;
        grid-row: 7/8;
      }
    }

    .videoContainerTitle {
      &[data-index='1'] {
        grid-column: 1/3;
        grid-row: 5/6;
        justify-self: flex-end;
      }

      &[data-index='2'] {
        grid-column: 1/6;
        grid-row: 8/9;
        justify-self: flex-start;
      }
    }
  }
}
