@import '@/styles/Variables.module.scss';

.DialogOverlay {
  background: rgba($color-dark, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.DialogContent {
  position: fixed;
  min-width: 360px;
  width: 100%;
  max-width: 90vw;
  max-height: calc(90vh - 6rem);
  aspect-ratio: 16 / 9;
  z-index: 200;
  //TODO: create mixin
  @supports not (aspect-ratio: 16 / 9) {
    &::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }


  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.DialogClose {
  cursor: pointer;
  position: absolute;
  right: calc(50% - 1rem);
  top: -3rem;
  //transform: translateX(50%) translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  color: $color-light;
}

.DialogCloseIcon {
  height: 1em;
  width: 1em;
  display: inline-block;
  fill: currentColor;
}
