@import '@/styles/Variables.module.scss';

.items {
  display: flex;
}

.lang {
  padding: $base-spacing;
  text-decoration: none;
  color: currentColor;
  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    width: 100%;
    transform: scaleX(0);

    border-bottom: 1px solid currentColor;
    transition: transform 0.5s;
  }

  &Active {
    &:after {
      transform: scaleX(1);
    }
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}
