@use '@/styles/colors';
@use '@/styles/fonts';

.button {
  padding: 0.25em 0.5em ;

  font-family: fonts.$action-font-family;
  font-weight: fonts.$action-font-weight-normal;
  color: #0E0D0D;
  text-align: center;
  text-decoration: none;

  background: #F6F3F3;
  border: none;
  border-radius: 50vh;


  &[data-variant='black'] {
    color: #F6F3F3;
    background: #0E0D0D;
  }
}