$action-font-family: var(--action-font-family);
$action-font-weight-bold: 600;
$action-font-weight-normal: 400;
$main-font-family: 'Lavish', sans-serif;


@font-face {
  font-family: Lavish;
  src: url('/lavish/Lavish.ttf') format('truetype')
}
