@use './mixins';
@use './fonts';
@use './colors';

:root {
  scroll-behavior: smooth;

  min-width: 350px;

  font-family: fonts.$main-font-family;
  font-size: 18px;
  color: colors.$color-black;

  background: colors.$color-bg-main;

  @include mixins.xs {
    font-size: 16px;
  }

  @include mixins.gt-lg {
    font-size: 32px;
  }
}
