@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4 * $base-spacing;

  @include lt-lg {
    gap: $base-spacing;
  }
}

.navigationItem {
  padding: $base-spacing;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $heading-font;

  display: flex;
  flex-direction: column;

  &:after {
    content: '';
    width: 100%;
    transform: scaleX(0);

    border-bottom: 1px solid currentColor;
    transition: transform 0.5s;
  }

  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}
