@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.header {
  @media screen and (max-aspect-ratio: 1/1) {
    aspect-ratio: 3 / 4;
  }
  
  
  aspect-ratio: 16 / 9;
  width: 100%;
  display: grid;
  box-sizing: border-box;
  position: relative;
  grid-template-columns: 1fr minmax(auto, $screen-sm-min) minmax(auto, $screen-sm-min) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    '. navigation navigation .'
    '. title contacts .'
    '. text text .';

  letter-spacing: 1px;

  color: $color-light;
  font-family: $heading-font;
  font-size: 1.5rem;
  font-weight: 300;

  & > :hover ~ .overlay {
    opacity: 0.5 !important;
  }

  padding: 0 4*$base-spacing;
  @include lt-lg {
    padding: 0 $base-spacing;
  }
}

.backgroundVideo {  
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
  background: $color-dark;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 1s;
  background-color: #000;
  opacity: 1;
}

.navigation {
  font-size: 1.125rem;
  grid-area: navigation;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4*$base-spacing;

  @include lt-sm {
    display: none;
  }

  @include lt-lg {
    gap: $base-spacing;
  }
}

.logo {
  grid-area: title;
  align-self: center;
  justify-self: start;
  text-decoration: none;
  font-family: $heading-font;
  padding: $base-spacing;
  color: inherit;
}

.contacts {
  justify-self: end;
  align-self: center;
  grid-area: contacts;
  display: flex;
}

.title {
  padding: $base-spacing;

  grid-area: text;
  justify-self: center;
  align-self: center;

  font-weight: inherit;
  font-size: 2rem;

  text-transform: uppercase;
  text-align: center;

  @include lt-sm {
    font-size: 1.5rem;
  }
}


