@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.footer {
  color: $color-dark;
  background: $color-light;
  padding: 8*$base-spacing 4*$base-spacing 0;
  @include lt-lg {
    padding: 4*$base-spacing $base-spacing 0;
  }
  font-family: $main-font;
}


.items {
  max-width: 1200px;
  margin: auto;
  padding: 4*$base-spacing;
  display: grid;
  grid-template-columns:  repeat(3, minmax(0, 1fr));

  @include lt-md {
    grid-template-columns: 1fr;
  }


}

.item {
  padding: 2* $base-spacing 4* $base-spacing;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;

  line-height: 2rem;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;

  @include gt-sm {
    &:not(:last-child) {
      border-right: 1px solid #45454a;
    }
  }


}

.title {
  font-family: $heading-font;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

.pricing {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: $heading-font;
  margin: 0;
}


.cc {
  border-top: solid 1px $color-dark;
  padding: 2*$base-spacing 0;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

.button {
  margin: 3*$base-spacing 0;
  color: $color-dark;
  cursor: pointer;
  font-family: $main-font;
  text-transform: uppercase;
  border: solid 1px $color-dark;
  background: none;
  font-size: 0.75rem;
  padding: 1.5*$base-spacing;
  min-width: 150px;
  letter-spacing: 1px;
  line-height: 1rem;
  font-weight: 300;
}

.socialLinks {
  font-size: 1.5rem;
}
