@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.footer {
  font-family: $main-font;
  color: $color-dark;
  background: $color-light;

  padding: 12*$base-spacing 2*$base-spacing 0;

  @include xs {
    padding-top: 6*$base-spacing;
  }
}


.items {
  margin: auto;
  padding-bottom: 6*$base-spacing;
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns:  repeat(3, minmax(0, $screen-sm-min * 2/ 3));

  @include lt-md {
    grid-template-columns: minmax(0, $screen-sm-min);
    padding-bottom: 0;
  }
}

.item {
  max-width: $screen-sm-min;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 2rem;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 300;

  padding: 2* $base-spacing 4* $base-spacing;

  @include gt-sm {
    &:not(:last-child) {
      border-right: 1px solid #45454a;
    }
  }


}

.title {
  font-family: $heading-font;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

.pricing {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: $heading-font;
  margin: 0;
}


.cc {
  border-top: solid 1px $color-dark;
  padding: 2*$base-spacing 0;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

.button {
  margin: 3*$base-spacing 0;
  color: $color-dark;
  cursor: pointer;
  font-family: $main-font;
  text-transform: uppercase;
  border: solid 1px $color-dark;
  background: none;
  font-size: 0.75rem;
  padding: 1.5*$base-spacing;
  min-width: 150px;
  letter-spacing: 1px;
  line-height: 1rem;
  font-weight: 300;
}

.socialLinks {
  font-size: 1.5rem;
}

.email {
  color: inherit;
  text-decoration: none;
  padding-bottom: $base-spacing;
}
