.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 16/9;
  max-width: 100%;
  height: 100%;
}

.contentBox {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 16/9;
  width: 100%;

  iframe {
    position: absolute;
  }
}

.container {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-vertical='true'] {
    .innerContainer {
      aspect-ratio: 9/16;
    }

    .contentBox {
      aspect-ratio: 9/16;
    }
  }
}


.previewImage {
  object-fit: contain;
}

.playButton {
  svg {
    width: 100%;
    height: 100%;
  }
}
