.post {
  background-position: center;
  background-size: cover;
  /*border: 1px solid #45454A;*/
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.link {
  & > svg {
    height: 40px;
    width: 40px;
    color: #fafafa;
  }
}
