.post {
  background-position: center;
  background-size: cover;
  /*border: 1px solid #45454A;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  @supports not (aspect-ratio: 1  / 1) {
    &::before {
      float: left;
      padding-top: 100%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  
}

.link {
  & > svg {
    height: 40px;
    width: 40px;
    color: #fafafa;
  }
}
