@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.weddings {
  position: relative;
}

.titleContainer {
  color: $color-light;
  background: rgba($color-dark, 0.95);
  position: relative;

  padding: 12*$base-spacing 4*$base-spacing;

  @include sm {
    padding: 12*$base-spacing $base-spacing;
  }

  @include xs {
    padding: 6*$base-spacing $base-spacing;
  }
}


.title {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}


.weddingsItems {
  color: $color-dark;
  font-family: $main-font;
  background: rgba($color-light, 0.95);
  position: relative;

  padding: 8*$base-spacing 4*$base-spacing;
  @include lt-lg {
    padding: 4*$base-spacing $base-spacing;
  }

}

// TODO double check z-index solution
.backgroundOverlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: -100;
  //background-image: url('/public/backgrounds/3.jpg');
  //background-attachment: fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
}
