@import '@/styles/Variables.module.scss';
@import '@/styles/mixins.scss';

.weddings {
  position: relative;
  clip-path: inset(0);
}

.titleContainer {
  color: $color-light;
  background: rgba($color-dark, 0.95);
  position: relative;

  padding: 12*$base-spacing 2*$base-spacing;

  @include xs {
    padding: 6*$base-spacing 2*$base-spacing;
  }
}


.title {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

}


.weddingsItems {
  color: $color-dark;
  font-family: $main-font;
  background: rgba($color-light, 0.95);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12*$base-spacing;
  @include xs {
    gap: 6*$base-spacing;
  }


  padding: 12*$base-spacing 2*$base-spacing;

  @include xs {
    padding: 6*$base-spacing 2*$base-spacing;
  }
}

// TODO double check z-index solution
.backgroundOverlay {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;


  //background-image: url('/public/backgrounds/3.jpg');
  //background-attachment: fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
}
