@import '@/styles/mixins.scss';
@import '@/styles/Variables.module.scss';


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


  &:not(:last-of-type) {
    margin-bottom: 20 * $base-spacing;

    @include lt-md {
      margin-bottom: 10 * $base-spacing;
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    .photo {
      @include gt-sm {
        padding-right: 0;
        padding-left: 10*$base-spacing;
      }

      @include md {
        padding-right: 0;
        padding-left: 5*$base-spacing;
      }
    }

    .text {
      @include gt-sm {
        padding-left: 0;
        padding-right: 6*$base-spacing;
      }

      @include md {
        padding-left: 0;
        padding-right: 3*$base-spacing;
      }
    }

  }
}

.photo {
  flex: 0 0 100%;
  box-sizing: border-box;
  max-width: $screen-sm-min;

  @include gt-sm {
    padding-left: 0;
    padding-right: 10*$base-spacing;
    flex: 0 0 50%;
    max-width: $screen-sm-min;
  }

  @include md {
    padding-left: 0;
    padding-right: 5*$base-spacing;
  }
}

.photoContainer {
  width: 100%;
  aspect-ratio: 16/9;
  @supports not (aspect-ratio: 16 / 9) {
    &::before {
      float: left;
      padding-top: 56.25%;
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
  position: relative;
}

.text {
  flex: 0 0 100%;
  max-width: $screen-sm-min;
  text-align: center;
  font-weight: 300;
  line-height: 2rem;
  box-sizing: border-box;
  padding-top: 4*$base-spacing;

  @include gt-sm {
    padding-top: 0;
    padding-right: 0;
    padding-left: 6*$base-spacing;
    flex: 0 0 50%;
    max-width: $screen-sm-min;
  }

  @include md {
    padding-right: 0;
    padding-left: 3*$base-spacing;
  }

}

.title {
  font-family: $heading-font;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
}


.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 2*$base-spacing;
}
